.grid-container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 80px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 99vh;
  }
  
  .header {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    grid-area: header;
    background-color: black;
    color: white;
    
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #808080;
  }
  
  .main {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    grid-area: main;
    background-color: #003f5c;
    color: white;
  }
  
  .footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    grid-area: footer;
    background-color: black;
    color: white;
  }
